fastapi
uvicorn
langgraph
llama-index
llama-index-core
llama-index-vector-stores-faiss
llama-index-llms-groq
llama-index-embeddings-huggingface
faiss-cpu
psycopg2-binary
streamlit
pandas
numpy
python-dotenv
supabase
sqlalchemy
requests
sentence-transformers
pypdf
reportlab
langchain
langchain-core